* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 181, 162, 0.4);
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #b58863;
}

.white {
  background-color: #f0d9b5;
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

.lost {
  display: flex;
  flex-wrap: wrap;
  background-color: #cca080;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin-left: 50px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: black;
}

.lostString {
  flex-basis: 100%;
  margin-bottom: 0.5rem;
}
.lost img {
  width: 20px;
  height: 20px;
}

.sequence {
  background-color: #cca080;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 4rem;
  height: 3rem;
  margin: 3rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: black;
}

.timer {
  background-color: #cca080;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem 3rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: black;
}

#reset {
  position: relative;
  width: 5rem;
  height: 3rem;
  background-color: #cca080;
  border: none;
  margin: 1rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: black;
  border-radius: 9%;
  cursor: pointer;
  top: 1rem;
  left: 7rem;
}
button:hover {
  background-color: #be9680;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transition: opacity 0.3s ease;
  cursor: pointer;
  animation: pulse 0.5s infinite;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.01); }
  100% { transform: scale(1); }

}
